.svg-background-blue {
  background-image: url("/svg/background-light-blue-wave.svg");
  background-size: 120rem;
}
.svg-background-white {
  background-image: url("/svg/background-scattered-forcefields.svg");
  background-size: 20rem;
}

.jumbotron {
  padding: 6rem 0 0;
  background-color: #e2edff;
}

.borderr {
  border: black solid 3px;
  /* text-align: left; */
}

/* .footer {
  margin-top: -100px;
} */

#projects {
  background-color: #dae6fb;
}

.blue-footer {
  background-color: #dae6fb;
}

section {
  padding-top: 5rem;
}

.container .moreAbout {
  margin-top: 100px;
}

.container .moreAbout img {
  width: auto;
  height: 300px;
}

.menu:hover {
  font-size: large;
}

.menu {
  transition: 0.15s ease;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-top {
  transform: translateY(-30%);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 1000ms ease-in;
}

.from-top.appear {
  transform: translateY(0);
  opacity: 1;
}

.from-bottom {
  transform: translateY(50%);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in;
}

.from-bottom.appear {
  transform: translateY(0);
  opacity: 1;
}

.from-left {
  overflow: hidden;
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in;
}

.from-left.appear {
  transform: translateX(0);
  opacity: 1;
}

.from-right {
  overflow: hidden;
  transform: translateX(50%);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in;
}

.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.from-bottom.appear.bounce {
  transition: transform 500ms ease-in-out, opacity 800ms ease-in;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s; /* don't forget to set a duration! */
}

/* .widening-to-bottom {

}
.widening-to-bottom.appear {

} */

.object {
  width: 23rem;
}

.zoom-in {
  transition: 1s ease;
  z-index: 1;
}

.hometown {
  width: 90%;
}

.downed {
  transition: 1s ease;
}

.text-justify {
  text-align: justify;
}

@media only screen and (max-width: 991px) and (min-width: 766px) {
  .down:hover + .downed {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .down:hover + .downed {
    padding-top: 120px;
  }
}

@media only screen and (min-width: 766px) {
  .object {
    width: 30rem;
  }

  .zoom-in:hover {
    transform: scale(1.2);
    transform-origin: top left;
    z-index: 2;
    object-fit: cover;
  }

  .zoom-in-left:hover {
    transform-origin: top right;
  }

  .center:hover {
    transform-origin: center top;
  }

  .hometown {
    width: 70%;
  }
}

.card {
  height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 3;
}

.carousel-control-prev-icon {
  position: absolute;
  top: 20px;
}

.carousel-control-next-icon {
  position: absolute;
  top: 20px;
}

/* img {
  width: 100%;
  object-fit: cover;
} */
